fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
PyPDF2
python-docx
python-dotenv
email-validator
httpx
groq
dotenv
pandas
openpyxl
Pillow
opencv-python
numpy
imutils
scipy
boto3>=1.26.0
aiohttp